@import "partials/portfolio";
@import "partials/header";
@import "partials/footer";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: transparent;
  font-family: 'Droid Sans', sans-serif;
}




