html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: transparent;
  font-family: 'Droid Sans', sans-serif;
}

#navContainer{
  /* background-color: green; */
  margin-top: 100px;
  position: absolute;
  color: #289b86;


  div {
    margin: 10px;
  }
}

#footer {
  text-align: right;
}

.headContainer {

  margin-left: 150px;
  border-bottom: 1px solid grey;

  .header {
    font-size: 1.7em;
    color: grey;
    margin: 30px 0px 20px 0;
  }
}

.bodyContainer {
  /* background-color: blue; */
  margin: 0px 0px 30px 150px;

  .title {

    font-size: 2em;
    color: #404040;
    margin-bottom: 7px;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    height: 300px;
    width: 400px;
  }

  .description {
    margin: 20px 0px 20px 0px;
    color: #515151;
    font-size: 1.5em;
  }

}