<div id="footer-container">
  <div class="column">
    <div class="email">jayhoun.dev@gmail.com<div>
    <div class="copyright">© 2017 Jay Houn</div>
    <div class="social-media">
      <a href="https://github.com/jhoun"><img src="http://i.imgur.com/DsEmuVi.png"></a>
      <a href="https://www.linkedin.com/in/johnathanhoun/"><img src="http://i.imgur.com/aqnrIfh.png"></a>
      <a href="https://www.instagram.com/jayyh_21/"><img src="http://i.imgur.com/jmKKM0G.png"></a>
  </div>
</div>