
<div id="header">
  <h1 id="logo">Jay Houn</h1>
  <ul id="nav">
    <div><a href="/portfolio">Portfolio</a></div>
    <div><a href="/about"> About Jay</a></div>
    <div><a href="/contact">Get In Touch</a></div>
  </ul>
</div>