
{{!-- <div id="headerContainer">
  <div id="navContainer">
    <div>Home</div>
    <div>About</div>
    <div>Portfolio</div>
  </div>
  <div id="shortAbout">
    <div id="aboutTitle">ABOUT</div>
    <div id="aboutParagraph">Hello, I'm Jay. <br> I'm learning to become <br> a fullstack Javascript <br> developer at DevLeague</div>
  </div>
</div> --}}