
<div id="header">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <h1 id="logo">Jay Houn</h1>
  <ul id="nav">
    <div>Portfolio</div>
    <div>About Jay</div>
    <div>Get In Touch</div>
  </ul>
</div>