<form form="form" action="/portfolio/{{id}}" method="POST" enctype="x-www-form-urlencoded">
  <input type="hidden" name="_method" value="PUT">
  <h1>Edit Page</h1>
  <h3>author</h3>
  <input type="text" name="author" value="jack"></br>
  <h3>title</h3>
  <input type="text" name="title" value="zombies"></br>
  <h3>link</h3>
  <input type="text" name="link" value="github.com/jack"></br>
  <h3>description</h3>
  <input type="text" name="description" value="oop project"></br>
  <input type="submit" value="Submit">
</form>