<h1>Your updated Product</h1>

<ul>
{{#each post}}
  <li>Author: {{this.author}}</li>
  <li>Title: {{this.title}}</li>
  <li>Link: {{this.link}}</li>
  <li>Description: {{this.description}}</li>
  <br>
{{/each}}
</ul>