<form action="/portfolio" method="POST" enctype="x-www-form-urlencoded">
  <h3>author</h3>
  <input type="text" name="author" value="jay"></br>
  <h3>title</h3>
  <input type="text" name="title" value="pixel painter"></br>
  <h3>link</h3>
  <input type="text" name="link" value="github/jhoun"></br>
  <h3>description</h3>
  <input type="text" name="description" value="painting palette"></br>
  <input type="submit" value="Submit">
</form>