.banner {
  color: #fff;
  background: #3acec2;
  padding: 5em 0;
  margin-top: 30px;
  margin-bottom: 48px;
  text-align: center; }
  .banner .headline {
    margin-left: 30px;
    margin-right: 30px; }

.body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px; }
  .body-container .project-container {
    margin-left: 30px;
    margin-right: 30px; }
    .body-container .project-container img {
      height: 300px;
      width: 400px; }
    .body-container .project-container .title {
      font-size: 2em;
      color: #404040;
      text-align: center; }

#header, #nav {
  display: flex; }

#header {
  flex-direction: column;
  align-items: center; }
  #header #nav {
    margin-right: 35px; }
    #header #nav div {
      margin-right: 20px; }

@media (min-width: 1024px) {
  #header {
    flex-direction: row;
    justify-content: space-between; }
    #header #logo {
      margin-left: 35px; } }

#footer {
  text-align: right;
  margin-right: 20px; }

.headContainer {
  margin-left: 235px;
  border-bottom: 1px solid grey; }
  .headContainer .header {
    font-size: 1.7em;
    color: grey;
    margin: 30px 0px 20px 0; }

.project-description-container {
  background-color: green; }
  .project-description-container img {
    height: 300px;
    width: 400px; }

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: transparent;
  font-family: 'Droid Sans', sans-serif; }
