<h1>Login to Super Secret Stuff</h1>

<form  method="POST" action="/login" enctype="x-www-form-urlencoded">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button type="submit">Login</button>
</form>

<a href="/portfolio"><button>Back</button></a>