.banner {
  color: #fff;
  background: #3acec2;
  padding: 5em 0;
  margin-top: 30px;
  margin-bottom: 48px;
  text-align: center;

  .headline {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;

  .project-container {
    margin-left: 30px;
    margin-right: 30px;

    img {
      height: 300px;
      width: 400px;
    }

    .title {
      font-size: 2em;
      color: #404040;
      text-align: center;
    }
  }
}