.banner {
  color: #fff;
  background: #3acec2;
  padding: 3.2em 0;
  margin-bottom: 48px;
  text-align: center;
}



.bodyContainer {

  .title {

    font-size: 2em;
    color: #404040;
    margin-bottom: 7px;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    height: 300px;
    width: 400px;
  }

  .description {
    margin: 20px 0px 20px 0px;
    color: #515151;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
  }

}