<form form="form" action="/portfolio/{{id}}" method="POST" enctype="x-www-form-urlencoded">
  <input type="hidden" name="_method" value="PUT">
  <h1>Edit Page</h1>
  <input type="text" name="title" placeholder="title"></br>
  <input type="text" name="description" placeholder="description"></br>
  <input type="text" name="image" placeholder="Image URL"></br>
  <input type="text" name="link" placeholder="Project URL"></br>

  <input type="submit" value="Submit">
  <a href="/portfolio"><button>Back</button></a>
</form>
</form>
