<form action="/portfolio" method="POST" enctype="x-www-form-urlencoded">
  <input type="text" name="title" placeholder="Project Title"></br>
  <input type="text" name="description" placeholder="Description"></br>
  <input type="text" name="image" placeholder="Image URL"></br>
  <input type="text" name="link" placeholder="Project URL"></br>
  <input type="submit" value="Submit">
</form>
<a href="/portfolio"><button>Back</button></a>